.card{
    margin-bottom: 1vw;
    border-color: #0c9213;
}

.left{
    display: flex;
}

.divTipo{
    margin-left: 3px;
    margin-right: 20px;
}
.divNome{
    margin-left: 20px;
    margin-right: 20px;
}
.divEmail{
    margin-left: 20px;
    margin-right: 20px;
}
.divTelefone{
    margin-left: 20px;
    margin-right: 20px;
}
.divLinkWhatsapp{
    margin-left: 20px;
    margin-right: 20px;
}
.divQrCode{
    margin-left: 20px;
    margin-right: 20px;
}

.left .Tipo{
    color: #0a0a09;
    margin-left: 1px;
    font-weight: bold;
    font-size: 3vh;
}
.lb{
    color: #0b7726;
    font-size: 3vh;
    font-weight: bold;
}


.card-butons{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0px;
}

.card-butons .bt {
    margin-right: 10px; 
    background-color: white;
}
.bt{
    margin-right: 10px;
}
.divCreat .btCreat{
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: 25px;
}